<div class="use-case-box">
  <div class="use-case-track">
    <hr>
    <hr>
    <hr class="use-case-selected">
    <hr>
  </div>
  <div class="use-case-content">
    <div class="use-case-icon-lg">
      <img src="../../assets/images/Use-Case-Hazmat-Icon.png">
    </div>
    <div class="use-case-info">
      <h1>Hazmat Data Sharing</h1>
      <p>
        There is currently no cohesive method for sharing location-based hazardous materials data 
        between various stakeholders such as property owners, municipalities, firefighters, and 
        insurance companies.
        <br><br>
        Insurance companies lose money from claims made as a result of injury or loss of life. 
        Property owners pay higher rates as a result of these claims.
      </p>
      <a routerLink="/hazmat-data-sharing">
        <button>Learn More</button>
      </a>
    </div>
  </div>
</div>