<div class="use-case-box">
  <div class="use-case-track">
    <hr class="use-case-selected">
    <hr>
    <hr>
    <hr>
  </div>
  <div class="use-case-content">
    <div class="use-case-icon-lg">
      <img src="assets/images/Use-Case-Responder-Icon.png">
    </div>
    <div class="use-case-info">
      <h1>Emergency Responder</h1>
      <p>
        There is currently no fast, reliable way for checkpoint personnel to verify whether emergency responders are cleared to enter restricted areas. 
        Checkpoint personnel must also be able to detect the use of fraudulent or unwarranted credentials. Only on-duty, appropriately trained personnel 
        should gain access to restricted areas. 
        <br>
        <br>
        Veres solutions are applicable to all emergency responders, including law enforcement, emergency medical services, and the National Guard. 
      </p>
      <a routerLink="/emergency-responder">
        <button>Learn More</button>
      </a>
    </div>
  </div>
</div>