<div class="use-case-box">
  <div class="use-case-track">
    <hr>
    <hr>
    <hr>
    <hr class="use-case-selected">
  </div>
  <div class="use-case-content">
    <div class="use-case-icon-lg">
      <img src="assets/images/Use-Case-Prescription-Icon.png">
    </div>
    <div class="use-case-info">
      <h1>Verifiable Prescriptions</h1>
      <p>
        Handwritten prescriptions can be easily forged. Existing digital prescriptions solutions 
        rely on intermediaries between the physician and the pharmacy. They also require a single 
        pharmacy be designated to fill the prescription and don’t enable real-time checking of 
        physician licenses.
        <br><br>
        Pharmacies can face major fines for filling forged prescriptions or prescriptions written 
        by physicians with an expired license.
      </p>
      <a routerLink="/verifiable-prescriptions">
        <button>Learn More</button>
      </a>
    </div>
  </div>
</div>