<main>
  <section id="contact-info">
      <h1>Contact Us</h1>
      <div class="company-info">
        <div class="company-info-text">
          <p>You may reach us by phone during normal business hours – Monday through Friday, 9am to 5pm Eastern Standard Time or by e-mail anytime.</p>
          <p>
            Phone: 1-540-961-4469
            <br>
            Contact: <a href="mailto:contact@digitalbazaar.com">sales@digitalbazaar.com</a>
            <br>
            Sales: <a href="mailto:sales@digitalbazaar.com">sales@digitalbazaar.com</a>
            <br>
            Support: <a href="mailto:support@digitalbazaar.com">support@digitalbazaar.com</a>
            <br>
            Press: <a href="mailto:press@digitalbazaar.com">press@digitalbazaar.com</a>
          </p>
        </div>
        <div class="location-map">
          <img src="assets/images/Digital-Bazaar-Map.png">
        </div>
      </div>
  </section>
</main>
