<div class="veres-ecosystem-box">
  <div class="veres-ecosystem-track">
    <hr>
    <hr class="veres-ecosystem-selected">
    <hr>
    <hr>
  </div>
  <div class="veres-ecosystem-content">
    <div class="veres-ecosystem-icon-lg">
      <img src="../../assets/images/Veres-Ecosystem-Ledger-Icon.png">
    </div>
    <div class="veres-ecosystem-info">
      <h1>Ledger</h1>
      <p>
        <strong>Veres Ledger</strong> enables organizations to launch fit-for-purpose ledgers as a measure to reduce 
        fraud. Ledgers can be used to track the current and historical status of users’ digital 
        credentials in order to increase their availability and auditability.
      </p>
      <a routerLink="/ledger">
        <button>Learn More</button>
      </a>
    </div>
  </div>
</div>