<div class="veres-ecosystem-box">
  <div class="veres-ecosystem-track">
    <hr class="veres-ecosystem-selected">
    <hr>
    <hr>
    <hr>
  </div>
  <div class="veres-ecosystem-content">
    <div class="veres-ecosystem-icon-lg">
      <img src="../../assets/images/Veres-Ecosystem-Issuer-Icon.png">
    </div>
    <div class="veres-ecosystem-info">
      <h1>Issuer</h1>
      <p>
          <strong>Veres Issuer</strong> enables organizations to issue digital credentials to customers and employees, who can optionally 
          manage their own information. Organizations no longer carry the responsibility of administering their users’ sensitive data.
      </p>
      <a routerLink="/issuer">
        <button>Learn More</button>
      </a>
    </div>
  </div>
</div>