<header>
  <nav>
    <a href="#" id="logo"><img src="../assets/images/Veres-Logo-Remake-72dpi4444.png" ></a>
    <div id="nav-links">
      <a href="#" class="nav-link">About</a>
      <div class="nav-link">
        <a href="#" class="dropdown-toggle">Use Cases</a>
        <!-- <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Emergency Responder</a>
          <a class="dropdown-item" href="#">Airport Security</a>
          <a class="dropdown-item" href="#">Hazmat Data Sharing</a>
          <a class="dropdown-item" href="#">Verifiable Prescriptions</a>
        </div> -->
      </div>
      <div class="nav-link" >
        <a href="#" class="dropdown-toggle">Ecosystem</a>
        <!-- <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Issuer</a>
          <a class="dropdown-item" href="#">Ledger</a>
          <a class="dropdown-item" href="#">Verifier</a>
          <a class="dropdown-item" href="#">Wallet</a>
        </div> -->
      </div>
      <a href="#" class="nav-link">Contact</a>
    </div>
  </nav>
</header>

<main>
  <section id="about">
    <h1>About</h1>
    <p>
      Veres is a credentialing platform that uses Verifiable Claims technology to digitize any credential that can be stored in a physical wallet. 
      Veres enables more secure and efficient exchange of customer and employee credentials (ID cards, digital offers, receipts, tickets) across a 
      wide variety of industries (government, education, healthcare, financial services). Other benefits include reduced risk and easier regulatory 
      compliance.
    </p>

  </section>

  <hr>

  <section id="use-cases">
      <h1>Use Cases</h1>
      <div class="use-case-buttons">
        <div class="use-case-button">
          <img src="../assets/images/Use-Case-Responder-Icon.png">
          <h1>Emergency Responder</h1>
        </div>
        <div class="use-case-button">
          <img src="../assets/images/Use-Case-Airport-Icon.png">
          <h1>Airport Security</h1>
        </div>
        <div class="use-case-button">
          <img src="../assets/images/Use-Case-Hazmat-Icon.png">
          <h1>Hazmat Data Sharing</h1>
        </div>
        <div class="use-case-button">
          <img src="../assets/images/Use-Case-Prescription-Icon.png">
          <h1>Verifiable Prescriptions</h1>
        </div>
      </div>

      <div class="use-case-box">
        <div class="use-case-track">
          <hr class="use-case-selected">
          <hr>
          <hr>
          <hr>
        </div>
        <div class="use-case-content">
          <div class="use-case-icon-lg">
            <img src="../assets/images/Use-Case-Responder-Icon.png">
          </div>
          <div class="use-case-info">
            <h1>Emergency Responder</h1>
            <p>
              There is currently no fast, reliable way for checkpoint personnel to verify whether emergency responders are cleared to enter restricted areas. 
              Checkpoint personnel must also be able to detect the use of fraudulent or unwarranted credentials. Only on-duty, appropriately trained personnel 
              should gain access to restricted areas. 
              <br>
              <br>
              Veres solutions are applicable to all emergency responders, including law enforcement, emergency medical services, and the National Guard. 
            </p>
            <button>Learn More</button>
          </div>
        </div>
      </div>




  </section>

  <hr>

  <section id="veres-ecosystem">

  </section>

  <hr>

  <section id="media-mentions">

  </section>
  <section id="slider">

  </section>
</main>

<footer>
  <span>©2017-2019 Digital Bazaar, Inc. All rights reserved.</span>
</footer>






<router-outlet></router-outlet>
