<div class="use-case-box">
  <div class="use-case-track">
    <hr>
    <hr class="use-case-selected">
    <hr>
    <hr>
  </div>
  <div class="use-case-content">
    <div class="use-case-icon-lg">
      <img src="assets/images/Use-Case-Airport-Icon.png">
    </div>
    <div class="use-case-info">
      <h1>Airport Security</h1>
      <p>
        When international air travelers arrive at airports and check into their flights, their 
        passports are scanned by TSA agents. In many cases, these passport scans are stored in 
        airport databases for months at a time. These scans are huge treasure troves of information 
        that, if obtained unlawfully, could result in tens of thousands of stolen identities. 
        <br><br>
        No effective mechanism has been implemented to ensure that the passenger who checked into 
        the airline is the same one getting on the plane. Studies show airport security personnel“ 
        are only 85% accurate when matching travelers to their photo IDs. As a result, airports and 
        airlines are vulnerable to terrorism and customs duty fraud.
        <br><br>
        Veres anonymizes biometric data and binds it with a boarding pass identifier by writing them 
        to a blockchain database. The result is a fully auditable database recording passenger checkpoint 
        events. This improves security and introduces various economic benefits.
      </p>
      <a routerLink="/airport-security">
        <button>Learn More</button>
      </a>
    </div>
  </div>
</div>