<div class="veres-ecosystem-box">
  <div class="veres-ecosystem-track">
    <hr>
    <hr>
    <hr>
    <hr class="veres-ecosystem-selected">
  </div>
  <div class="veres-ecosystem-content">
    <div class="veres-ecosystem-icon-lg">
      <img src="assets/images/Veres-Ecosystem-Wallet-Icon.png">
    </div>
    <div class="veres-ecosystem-info">
      <h1>Wallet</h1>
      <p>
        With Veres Wallet, customers and employees can securely and privately 
        store their digital credentials. These individuals use Veres Wallet to 
        receive credentials from Issuers and to present credentials to Verifiers. 
      </p>
      <a routerLink="/wallet">
        <button>Learn More</button>
      </a>
    </div>
  </div>
</div>