/* You can add global styles to this file, and also import other style files */
@import '/vars';

@function colors($color-name) {
    @return map-get($colors, $color-name );
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

*:focus {
    outline: none;
}

*[hidden] {
    display: none !important;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;

    p {
        font-size: 16px;
        font-weight: 500;
        color: colors(main-text);
        line-height: 1.6em;
        margin: 0;
    }

    header{
        border-bottom: 1px solid colors(line-color);
        position: fixed;
        width: 100%;
        background-color: #fff;

        @include mobile {
            position: relative;
            border-bottom: none;
        }
    
        nav {
            height: 72px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: $desktop-width;
            margin: auto;

            @include mobile {
                display: block;
                height: auto;
            }
    
            #logo {
                height: 46px;

                @include tablet {
                    padding-left: 25px;
                }
    
                img {
                    height: 100%;

                    @include mobile {
                        height: 36px;
                        padding: 13px 0 13px 25px;
                    }
                }
            }
    
            #nav-links {
                display: flex;
                align-items: center;

                @include tablet {
                    padding-right: 25px;
                }

                @include mobile {
                    box-shadow: none;
                    width: 100%;
                    display: none;
                    border-top: 1px solid colors(line-color);
                }


                .nav-link {
                    height: 73px;
                    display: flex;
                    align-items: center;

                    @include mobile {
                        border-bottom: 1px solid colors(line-color);
                        display: block;
                        height: auto;
                    }

                    a {
                        padding: 10px;
                    }

                    a:hover {
                        color: colors(main-color);
                    }
                }
    
                a {
                    padding: 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: bold;
                    color: colors(title-text);

                    @include mobile {
                        padding: 10px;
                    }
                }

                a:hover {
                    color: colors(main-color);
                }



                .dropdown-toggle {
                    @include mobile {
                        padding: 10px 0;
                        display: block;
                    }
                }

                .dropdown-toggle::after {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: .255em;
                    vertical-align: .255em;
                    content: "";
                    border-top: .3em solid colors(main-color);
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    border-left: .3em solid transparent;
                }

                .dropdown-menu {
                    position: absolute;
                    display: none;
                    flex-direction: column;
                    background-color: #fff;
                    box-shadow: $box-shadow-settings;
                    top: 73px;
                    min-width: 170px;

                    @include mobile {
                        position: relative;
                        top: 0;
                        display: none;
                        box-shadow: none;
                        border-top: 1px solid colors(line-color);
                    }

                    .dropdown-item {
                        color: colors(main-text);
                        border-bottom: 1px solid colors(line-color);

                        @include mobile {
                            display: block;
                            padding: 10px 20px;
                        }
                    }

                    .dropdown-item:last-child {
                        border-bottom: none;
                    }

                    .nav-selected {
                        color: colors(main-color);
                    }
                }

                .show-dropdown {
                    display: flex;

                    @include mobile {
                        display: block;
                    }
                }

                .nav-link:hover .dropdown-menu {
                    display: flex;
                }

                .nav-selected {
                    color: colors(main-color);
                }

                .show-use-cases,
                .show-eco {
                    @include tablet {
                        display: flex !important;
                    }
                    @include mobile {
                        display: flex !important;
                    }
                }

                .hide-use-cases,
                .hide-eco {
                    @include tablet {
                        display: none !important;
                    }

                    @include mobile {
                        display: none !important;
                    }
                }

            }

            #nav-links .nav-link:nth-child(4) {
                @include mobile {
                    border-bottom: none;
                }
            }

            .show-nav {
                @include mobile {
                    display: block !important;
                }
            }

            .hide-nav {
                @include mobile {
                    display: none !important;
                }
            }
        }

        .hamburger-menu-button {
            position: absolute;
            height: 26px;
            display: none;
            top: 0;
            right: 0;

            @include mobile {
                display: block;
                padding: 21px;
            }
        }
    }

    .to-top {
        position: fixed;
        bottom: 25px;
        right: 25px;
        cursor: pointer;
    }

    @keyframes fadeInRight {
        0% {
           opacity: 0;
           transform: translateX(25px);
        }
        100% {
           opacity: 1;
           transform: translateX(0);
        }
    } 
    
    @keyframes fadeOutRight {
        0% {
           opacity: 1;
        }

        100% {
            opacity: 0;
         }
    }  

    .show-to-top {
        animation-name: fadeInRight;
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        display: block;
    }

    .hide-to-top {
        display: none;
    }

    main {
        padding-top: 72px;

        @include mobile {
            padding-top: 0;
            border-top: 1px solid colors(line-color);
        }

        #about {
            max-width: 660px;
            margin: auto;


            h1 {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                color: colors(title-text);
                padding: 72px 0 25px;
                margin: 0;

                @include mobile {
                    padding: 25px 0 25px;
                    font-size: 26px;
                }
            }

            p{
                text-align: center;

                @include mobile {
                    text-align: left;
                    padding: 0  25px;
                }
            }
        }

        hr {
            border: 0;
            height: 1px;
            background: colors(line-color);
            max-width: $desktop-width;
            margin: 72px auto;

            @include mobile {
                margin: 36px auto;
            }
        }

        #use-cases {
            max-width: $desktop-width;
            margin: auto;

            h1 {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                color: colors(title-text);
                padding-bottom: 50px;
                margin: 0;

                @include mobile {
                    font-size: 26px;
                    padding-bottom: 25px;
                }
            }
            .use-case-buttons {
                display: flex;

                .use-case-button{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 25%;
                    cursor: pointer;

                    @include mobile {
                        padding: 18px 0;
                    }

                    img {
                        height: 60px;
                        width: auto;

                        @include mobile {
                            height: 50px;
                        }
                    }

                    h1 {
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500px;
                        color: colors(title-text);
                        width: 130px;
                        padding: 18px 0;

                        @include mobile {
                            display: none;
                        }
                    }
                }
            }

            .use-case-box {
                .use-case-track {
                    height: 3px;
                    width: 100%;
                    background-color: colors(line-color);
                    display: flex;

                    hr {
                        height: 3px;
                        margin: 0;
                        width: 25%;
                    }

                    .use-case-selected {
                        background-color: colors(main-color);
                    }
                }



                .use-case-content {
                    display: flex;
                    padding: 50px 50px 50px 0;
                    box-shadow: $box-shadow-settings;
                    align-items: center;
                    justify-content: center;

                    @include tablet {
                        padding: 50px 50px 0 0px;
                        box-shadow: none;
                    }

                    @include mobile {
                        padding: 25px 25px 0 25px;
                        box-shadow: none;
                    }
    
                    .use-case-icon-lg {
                        width: 35%;
                        text-align: center;

                        @include mobile {
                            display: none;
                        }
    
                        img{
                            height: 120px;
                            width: auto;
                        }
                    }
    
                    .use-case-info {
                        width: 65%;

                        @include mobile {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
    
                        h1 {
                            text-align: left;
                            font-size: 26px;
                            padding-bottom: 25px;
                            font-weight: 500px;

                            @include mobile {
                                text-align: center;
                                font-size: 22px;
                            }
                        }
    
                        button {
                            background-color: colors(main-color);
                            color: #fff;
                            border-radius: 55px;
                            width: 160px;
                            height: 55px;
                            text-transform: uppercase;
                            font-size: 16px;
                            font-family: 'Helvetica Neue', Arial, sans-serif;
                            font-weight: 500;
                            margin-top: 25px;
                            border: none;
                            cursor: pointer;
                        }
                    }

                }

            }

        }


        #veres-ecosystem {
            max-width: $desktop-width;
            margin: auto;
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                color: colors(title-text);
                padding-bottom: 50px;
                margin: 0;

                @include mobile {
                    padding-bottom: 25px;
                    font-size: 26px;
                }
            }

            .veres-ecosystem-cycle {
                height: 390px;
                width: auto;
                margin: auto;
                padding-bottom: 50px;

                @include mobile {
                    height: 300px;
                    padding-bottom: 25px;
                }
            }

            .veres-ecosystem-buttons {
                display: flex;

                .veres-ecosystem-button{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 25%;
                    cursor: pointer;

                    @include mobile {
                        padding: 18px 0;
                    }

                    img {
                        height: 60px;
                        width: auto;

                        @include mobile {
                            height: 50px;
                        }
                    }

                    h1 {
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500px;
                        color: colors(title-text);
                        width: 130px;
                        padding: 18px 0;

                        @include mobile {
                            display: none;
                        }
                    }
                }
            }

            .veres-ecosystem-box {
                .veres-ecosystem-track {
                    height: 3px;
                    width: 100%;
                    background-color: colors(line-color);
                    display: flex;

                    hr {
                        height: 3px;
                        margin: 0;
                        width: 25%;
                    }

                    .veres-ecosystem-selected {
                        background-color: colors(main-color);
                    }
                }



                .veres-ecosystem-content {
                    display: flex;
                    padding: 50px 50px 50px 0;
                    box-shadow: $box-shadow-settings;
                    align-items: center;
                    justify-content: center;

                    @include tablet {
                        padding: 50px 50px 0 0px;
                        box-shadow: none;
                    }

                    @include mobile {
                        padding: 25px 25px 0 25px;
                        box-shadow: none;
                    }
    
                    .veres-ecosystem-icon-lg {
                        width: 35%;
                        text-align: center;

                        @include mobile {
                            display: none;
                        }
    
                        img{
                            height: 120px;
                            width: auto;
                        }
                    }
    
                    .veres-ecosystem-info {
                        width: 65%;

                        @include mobile {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
    
                        h1 {
                            text-align: left;
                            font-size: 26px;
                            padding-bottom: 25px;
                            font-weight: 500px;

                            @include mobile {
                                text-align: center;
                                font-size: 22px;
                            }
                        }
    
                        button {
                            background-color: colors(main-color);
                            color: #fff;
                            border-radius: 55px;
                            width: 160px;
                            height: 55px;
                            text-transform: uppercase;
                            font-size: 16px;
                            font-family: 'Helvetica Neue', Arial, sans-serif;
                            font-weight: 500;
                            margin-top: 25px;
                            border: none;
                            cursor: pointer;

                            @include mobile {
                                text-align: center;
                            }
                        }
                    }

                }

            }

        }

        #media-mentions {
            max-width: $desktop-width;
            margin: auto;
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;

            @include mobile {
                padding-bottom: 25px;
            }

            h1 {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                color: colors(title-text);
                padding-bottom: 50px;
                margin: 0;

                @include mobile {
                    padding-bottom: 25px;
                    font-size: 26px;
                }
            }

            .media-logos {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .media-logo{
                    width: 33%;
                    text-align: center;

                    @include mobile {
                        width: 100%;
                        padding: 10px 0;
                    }

                    img {
                        width: 300px;
                        height: auto;

                        @include tablet {
                            width: 200px;
                        }

                        @include mobile {
                            width: 200px;
                        }
                    }
    
                    .reuters-logo {
                        width: 138px;
                        height: auto;

                        @include tablet {
                            width: 92px;
                        }

                        @include mobile {
                            width: 92px;
                        }
                    }

                }

            }

        }

        #slider-one,
        #slider-two,
        #slider-three {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 520px;

            @include tablet {
                height: 460px;
            }

            @include mobile {
                height: 400px;
            }

            .slides {
                display: flex;
                justify-content: center;
                align-items: center;

                .left-arrow {
                    margin-left: 25px;
                    cursor: pointer;
                    position: absolute;
                    left: 0px;

                    @include mobile {
                        margin-left: 10px;

                        img {
                            height: 20px;
                            width: auto;
                        }
                    }
                }
    
                .slider-main {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include tablet {
                        padding-left: 75px;
                    }

    
                    .slider-image {
                        @include mobile {
                            display: none;
                        }
    
                        img {
                            height: 390px;
                            width: auto;

                            @include tablet {
                                height: 300px;
                            }
                        }
                    }

                    @keyframes fadeInLeft {
                        0% {
                           opacity: 0;
                           transform: translateX(-20px);
                        }
                        100% {
                           opacity: 1;
                           transform: translateX(0);
                        }
                    }  

                    @keyframes fadeInBottom {
                        0% {
                           opacity: 0;
                           transform: translateY(20px);
                        }
                        100% {
                           opacity: 1;
                           transform: translateY(0);
                        }
                    }  



                    .fadeInLeft {
                        animation-name: fadeInLeft;
                        animation-duration: 0.7s;
                        animation-fill-mode: both;
                        animation-timing-function: ease-in-out;
                    }  


                    .fadeInBottom {
                        animation-delay: 0.5s;
                        animation-name: fadeInBottom;
                        animation-duration: 0.7s;
                        animation-fill-mode: both;
                        animation-timing-function: ease-in-out;

                        @include mobile {
                            animation-delay: 0;
                        }
                    }  
        
                    .slider-content {
                        padding: 75px 0 75px 75px;

                        @include tablet {
                            padding: 50px;
                        }

                        @include mobile {
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
        
                        h1 {
                            text-align: left;
                            font-size: 46px;
                            font-weight: bold;
                            margin: 0; 

                            @include tablet {
                                font-size: 30px;
                            }

                            @include mobile {
                                font-size: 26px;
                                text-align: center;
                            }
                            
                        }
        
                        p {
                            font-size: 22px;
                            font-weight: 500;
                            max-width: 455px;
                            padding: 25px 0;

                            @include tablet {
                                max-width: 300px;
                                font-size: 16px;
                            }

                            @include mobile {
                                text-align: center;
                                max-width: 300px;
                                font-size: 16px;
                            }
                        }
        
                        button {
                            color: #fff;
                            border-radius: 55px;
                            width: 160px;
                            height: 55px;
                            text-transform: uppercase;
                            font-size: 16px;
                            font-family: 'Helvetica Neue', Arial, sans-serif;
                            font-weight: 500;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
    
                .right-arrow {
                    margin-right: 25px;
                    cursor: pointer;
                    position: absolute;
                    right: 0px;

                    @include mobile {
                        margin-right: 10px;

                        img {
                            height: 20px;
                            width: auto;
                        }
                    }
                }

                .show-arrow {
                    display: block;
                }

                .hide-arrow {
                    display: none;

                    @include tablet {
                        display: block;
                    }

                    @include mobile {
                        display: block;
                    }
                }
    
            }
            
            .slider-bullets {
                text-align: center;
                
                img {
                    padding: 0 3px;
                    opacity: 0.4;
                }

                .bullet-selected {
                    opacity: 1;
                }
            }
            
        }

        #slider-one {
            background-color: colors(slide-one-bg-color);

            .slider-content {
                h1 {
                    color: colors(slide-one-text-color);                  
                }

                p {
                    color: colors(slide-one-text-color);   
                }

                button {
                    background-color: colors(slide-one-text-color);
                }
            }
        }

        #slider-two {
            background-color: colors(slide-two-bg-color);

            .slider-content {
                h1 {
                    color: colors(slide-two-text-color);                  
                }

                p {
                    color: colors(slide-two-text-color);   
                }

                button {
                    background-color: colors(slide-two-text-color);
                }
            }
        }

        #slider-three {
            background-color: colors(slide-three-bg-color);

            .slider-content {
                h1 {
                    color: colors(slide-three-text-color);                  
                }

                p {
                    color: colors(slide-three-text-color);   
                }

                button {
                    background-color: colors(slide-three-text-color);
                }
            }
        }

    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        background-color: colors(main-color);

        span {
            font-size: 16px;
            font-weight: 400;
            color: #fff;

            @include mobile {
                text-align: center;
                padding: 0 15px;
            }
        }
    }
}

