@import '/vars';

@function colors($color-name) {
    @return map-get($colors, $color-name );
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

#veres-ecosystem {

    h1 {
        padding-top: 72px;

        @include mobile {
            padding-top: 25px;
        }
    }

    .veres-ecosystem-box {

        .veres-ecosystem-content {
            display: flex;
            flex-direction: column;
            padding: 50px;

            @include tablet {
                padding: 50px 50px 0 50px;
            }

            @include mobile {
                padding: 25px 25px 0 25px;
            }

            h1 {
                padding-top: 0;
                font-size: 26px;

                @include mobile {
                    font-size: 22px;
                }
            }

            .veres-ecosystem-main-text {
                max-width: 700px;
            }

            .main-image {
                padding: 25px 0;

                img {
                    width: 370px;
                    height: auto;

                    @include mobile {
                        width: 320px;
                        height: auto;
                    }
                }
            }

            .veres-ecosystem-info {
                width: 100%;

                h2 {
                    color: colors(main-color);
                    font-size: 22px;
                    font-weight: 500;
                    margin: 0;
                    padding-bottom: 10px; 

                }

                .info-section-one,
                .info-section-two {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .veres-ecosystem-icon-lg {
                        padding-right: 40px;
                        width: auto;

                        img{
                            height: 180px;
                            width: auto;

                            @include tablet {
                                height: auto;
                                width: 150px;
                            }
                        }
                    }

                    .info-section-one-text,
                    .info-section-two-text {

                        h2 {
                            @include mobile {
                                text-align: center;
                            }
                        }

                        p {
                            max-width: 450px;

                            @include mobile {
                                text-align: center;
                            }
                        }

                        p:nth-of-type(n+2) {
                            margin-top: 1.6em;
                        }
                    }

                }

                .info-section-two {
                    margin-top: 50px;
                }

                .extra-paragraph {
                    max-width: 725px;
                    margin: 1.6em auto auto;
                }

                .info-section-three {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-top: 50px;

                    h2 {
                        text-align: center;
                    }
                    
                    .use-case-examples {
                        @include tablet {
                            display: none;
                        }

                        @include mobile {
                            display: none;
                        }

                        img {
                            width: 1020px;
                            height: auto;
    
                        }
                    }

                    .use-case-examples-mobile {
                        display: none;

                        @include tablet {
                            display: block;
                        }

                        @include mobile {
                            display: block;
                        }

                        img {
                            @include tablet {
                                width: 700px;
                                height: auto;
                            }

                            @include mobile {
                                width: 320px;
                                height: auto;
                            }
    
                        }
                    }

                }
                
            }
        }
    }
}

#veres-ecosystem {
    .extra-padding {
        padding-right: 100px !important;

        @include tablet {
            padding-right: 40px !important;
        }
    }

    .info-section-two-text {
        margin-right: 48px;

        @include tablet {
            margin-right: 0;
        }

        @include mobile {
            margin-right: 0;
        }
    }
}

#why-choose-veres {
    max-width: $desktop-width;
    margin: auto auto 72px auto;

    h1 {
        text-align: center;
        color: colors(title-text);
        font-size: 26px;
        font-weight: bold;
        padding-bottom: 25px;

        @include mobile {
            font-size: 22px;
        }
    }

    .reason-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include mobile {
            flex-direction: column;
        }

        .reason-card {
            width: calc(33% - 30px);
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet {
                width: calc(33% - 20px);
                padding: 0 10px;
            }

            @include mobile {
                width: 100%;
                padding: 0;
            }

            .reason-icon {
                padding-bottom: 20px;

                img {

                    @include mobile {
                        width: 100px;
                        height: auto;
                    }
                }
            }

            h2 {
                text-align: center;
                color: colors(main-color);
                font-size: 22px;
                font-weight: 500;
                margin: 0;
                padding-bottom: 10px; 

            }

            ul {
                margin: 0;

                @include mobile {
                    margin-bottom: 25px;
                }

                li {
                    font-size: 16px;
                    font-weight: 500;
                    color: colors(main-text);
                    line-height: 1.6em;
                    margin: 0;
                }
            }

            p {
                @include mobile {
                    padding: 0 25px;
                }
            }

            p:nth-of-type(1) {
                padding-bottom: 1.6em;
            }

        }

        .two-column {
            width: calc(50% - 50px);
            padding: 0 25px;

            @include mobile {
                width: 100%;
                padding: 0;
                padding-bottom: 25px;
            }
        }

        .two-column:nth-of-type(n+3) {
            padding-top: 25px;

            @include mobile {
                padding-top: 0;
            }
        }

        .two-column:last-child,
        .two-column:last-child p {
            @include mobile {
                padding-bottom: 0px;
            }
        }

        .two-column:nth-last-child(n-1) p {
            @include mobile {
                padding-bottom: 0px;
            }
        }
    }


}

#why-choose-veres {
    .three-column:nth-child(n+4) {
        margin-top: 25px;

        @include tablet {
            p {
                padding-bottom: 0 !important;
            }
        }

        @include mobile {
            margin-top: 0;
        }
    }

    .three-column:last-child p {
        @include mobile {
            padding-bottom: 0 !important;
        }
    }
}